@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  background: #1A1A1A;
  font-family: Roboto;
}

header {
  display: flex;
  flex-direction: column;
  background: #1F2937;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  color: #F9FaF8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  background: #1F2937;
  color: #ffff;
}

img {
  max-width: 70%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.75rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/* General */

.button {
  width: 10rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  transition-duration: 0.3s;
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
  color: white;
}

/* Header: Items, text and image */

.header__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2% 12%;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__company-name {
  font-size: 1.5rem;
}

.header__links {
  display: flex;
  gap: 1.5rem;
  color: #E5E7EB
}

.header__main {
  display: flex;
  justify-content: space-between;
}

.header__resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header__title {
  font-size: 3rem;
  font-weight: 900;
}

.header__button {
  background: #AD2A2A;
}

.header__button:hover {
  background: #801D1D;
}

.header__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Body: Cards and title CSS */

.cards__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  gap: 1rem;
  flex: 1 1 10rem;
}

.card__image {
  min-width: 70%;
  max-height: 70%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.card__text {
  text-align: center;
}

/* Body: Quote and author */

.quote__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #617785;
}

.quote__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;
  gap: 1.5rem;
  padding: 2rem 0;
}

.quote__text {
  font-size: 2rem;
  font-weight: 350;
}

.quote__author {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  color: #111717;
}

/* Body: Register box */

.register__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 4rem 0;
  padding: 2rem 0;
  background: #AD2A2A;
}

.register__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  gap: 1rem;
}

.register__main {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.register__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.register__text {
  font-size: 1rem;
}

.register__button {
  border: 2px solid #ffff;
  background: #AD2A2A;
}

.register__button:hover {
  background: #801D1D;
}

@media (max-width: 768px) {

  /* Header Media queries CSS */
  .header__content {
    gap: 2rem;
  }

  .header__items, .header__main {
    flex-direction: column;
    gap: 1.5rem;
  }

  .header__resources {
    align-items: center;
  }
  
  .header__items, .header__title, .header__subtext {
    text-align: center;
  }
  .header__image {
    justify-content: center;
  }

  /* Body Media Queries CSS */

  /* Quotes */
  .quote__content {
    width: 80%;
  }
  
  .quote__text {
    text-align: center;
  }
  
  /* Register */
  .register__title, .register__text {
    text-align: center;
  }

  .register__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .register__content {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
